.feed{
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4 , 23vw);
  grid-gap: 1vw;
padding-left: 2.5vw;
padding-top: 15px;
padding-bottom: 15px;
  margin-top: 20px;
  background-image: url(./feed-banner.jpg);
}
.feed div{
  width: 20vw;
  background-color: #F6F7F2;
}

.empty {
  color: black;
  font-size: large;
  position: relative;
  left: 30vw;
}