.my-feed{
  width: 66vw;
  display: grid;
  grid-template-columns: repeat(3 , 20vw);
  grid-auto-rows: min-content; 
  grid-gap: 2vw;
  height: 83vh;
  overflow-y: scroll;
overflow-x: hidden;
 
}

 .wrapper{
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.10);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 18px;
    margin-left: 7vw;
  margin-right: 7vw;
  margin-top: 20px;
  height: 83vh;
   padding: 15px;
  overflow-y: scroll;
  overflow-x: hidden;

}

.my-feed div{
  width: 20vw;
  background-color: #F6F7F2;
  padding: 10px;
  border-radius: 4px;
}

.empty {
  color: black;
  font-size: large;
  position: relative;
  left: 30vw;
}