.chat-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg);
    
}

.chat-header {
    padding: 15px 20px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-header h4 {
    margin: 0;
}

.status {
    font-size: 0.8em;
    padding: 3px 8px;
    border-radius: 12px;
}

.status.online {
    background-color: #28a745;
    color: white;
}


.chat-messages {
    flex-grow: 1;
    padding: 20px;
    max-height: 80%;
    overflow-y: scroll; 
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc; 
}

.message {
    max-width: 65%; 
    min-height: 15%;
    max-height: 30%;
    margin-bottom: 15px;
    padding: 10px 15px;
    border-radius: 18px;
    line-height: 1.4;
    position: relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.message p {
    margin: 0;
}

.message-time {
    font-size: 0.7em;
    color: #999;
    display: block;
    text-align: right;
    margin-top: 5px;
}


.message.incoming {
    background-color: #e9ecef; 
    align-self: flex-start;
    border-bottom-left-radius: 4px; 
}


.message.outgoing {
    background-color: var(--primary-color);
    color: white;
    align-self: flex-end;
    border-bottom-right-radius: 4px; 
}

.message.outgoing .message-time {
    color: rgba(255, 255, 255, 0.7); 
}


.chat-input-area {
    display: flex;
    padding: 15px 20px;
    border-top: 1px solid var(--border-color);
    background-color: var(--main-bg);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.chat-input {
    flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid #ced4da;
    border-radius: 20px;
    font-size: 1em;
    margin-right: 10px;
    outline: none;

    transition: border-color 0.2s;
}

.chat-input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.send-button {
    background-color: var(--primary-color);
    color: white;
    min-height: 50px;
    overflow: hidden;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

.send-button:hover {
    background-color: #0056b3;
}