.container {
  background: #f4f6fc;
  width: 75%;
  margin: auto;
  padding-top: 20px;
  max-height: 80vh;
  /* border: 4px solid rgba(0, 123, 255, 0.3); */
  border-radius: 18px;

}

.pageTitle {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;
  color: #2c2c2c;
}

.outer-container {
    border: 2px solid #007bff;
    border-radius: 12px;
    overflow: hidden; 
}

.tableWrapper {
  overflow-x: hidden;
    max-height: 70vh;      
  overflow-y: auto;   
  border-radius: 18px; 
  padding-bottom: 5px;
  
}

.paymentTable {
  width: 100%;
  min-width: 1200px; 
  border-collapse: collapse;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}

.paymentTable th,
.paymentTable td {
  padding: 16px;
  text-align: center;
  font-size: 15px;
}

.paymentTable th {
  background: #e7ecff;
  color: #2b2b2b;
  font-weight: 600;
}

.transactionRow {
  transition: all 0.25s ease;
  cursor: pointer;
}

.transactionRow:hover {
  background: #f3f6ff;
}

.tag {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}

.success {
  background: #d6ffe0;
  color: #0a8a31;
}

.pending {
  background: #fff6d6;
  color: #c29700;
}

.failed {
  background: #ffd6d6;
  color: #b20000;
}

.detailsPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.show {
  visibility: visible;
  opacity: 1;
}

.detailsContent {
  width: 420px;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  position: relative;
  animation: popup 0.3s ease;
}

@keyframes popup {
  from {
    transform: scale(0.85);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.closeBtn {
  position: absolute;
  top: 12px;
  right: 18px;
  font-size: 26px;
  cursor: pointer;
  color: #444;
}

.details p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}
.no-transactions {
  text-align: center;
  font-size: 16px;
  color: gray;
  padding: 20px 0;
  opacity: 0.7;
}
